<!DOCTYPE html>
<html>
<head>
<title><%= root.data.title %></title>
<meta charset="utf-8">
<link rel="stylesheet" href="<%= rootPath %>/index.css">
<link rel="alternate" type="application/rss+xml" href="rss.xml" title="<%= rootPath %>/<%= root.data.title %> RSS">
</head>
<body>
<div class="container">
